@import url();

/*Generelle styles*/
:root{
    --latte: #F8F4E3;
    --jet: #2A2B2A;
    --orange: #DD7230;
    --steelblue: #3E7CB1;
    --silverlakeblue: #6C91C2;
}

a {
    text-decoration: none;
}
a:visited {
    color: inherit;
}

li, ul {
    list-style-type: none;
}

body{
    background-color: var(--latte);
    font-family: "montserrat", sans-serif;
    margin: 0;
}

/*Header styles*/
header{
    width: 100%;
    height: 70px;
}

/*Navigation header*/
header .navmenu {
    padding: 0;
    font-style: italic;
    display: flex;
    align-items: center;
}

.nav-items{
    display: flex;
    justify-content: flex-end;
    align-items: center;
    padding-top: 0.5rem;
}

header .navmenu li{
    padding: 0 2rem;
}

.webshop-button{
    border-radius: 50px;
    background-color: var(--steelblue);
    font-family: inherit;
    font-size: inherit;
    height: 40px;
    width: 115px;
    border: none;
    color: white;
    margin: 0 2rem;
}

.logo{
    position: absolute;
    height: 40px;
    padding: 0.5rem 2rem 0 2rem;
}

/*Sub menu indstillinger*/
header .navmenu li .sub-menu {
    display: none;
    position: absolute;
    top: 100%;
    left: 0;
    margin: 0;
    padding: 0;
    background: var(--silverlakeblue);
}

header .navmenu li .sub-menu a {
    display: block;
    padding: 10px;
}

header .navmenu > .menu-item-has-children:hover > .sub-menu{
    display: block;
}

/* Sub-sub menu indstillinger*/
header .navmenu .sub-menu li .sub-menu {
    top: 0;
    left: 100%
}

header .navmenu  .menu-item-has-children .sub-menu > .menu-item-has-children:hover .sub-menu {
       display: block; /*Gør at man kun kan se den man hover over i sub-sub menuen*/
}

/* Footer menu*/
footer{
    background-color: var(--steelblue);
}

/* Front page start */
.post-frontpage {
    border: solid;
}

.post-frontpage h1 {
    color: var(--orange);
    text-transform: uppercase;
}

.post-frontpage h2 {
    color: var(--jet);
}

.post-frontpage h3 {
    color: var(--steelblue);
    font-style: italic;
    font-weight: 200;
}

.post-home a {
    border-radius: 50px;
    background-color: var(--orange);
    font-family: inherit;
    font-size: inherit;
    padding: 10px 18px;
    border: none;
    color: white;
}

.teams-contain {
    display: flex;
    justify-content: space-between;
}

.teams-contain div{
    width: 100px;
    height: 200px;
    background-color: #DD7230
}

.home-post {
    display: flex;
    flex-direction: row-reverse;
}


/*Front page slut*/