@import url();

/*Generelle styles*/
:root{
    --latte: #F8F4E3;
    --jet: #2A2B2A;
    --orange: #DD7230;
    --steelblue: #3E7CB1;
    --silverlakeblue: #6C91C2;
}

a {
    text-decoration: none;
}
ul:visited, li:visited, a:visited {
    color: inherit;
}

a:hover {
    text-decoration: underline;
}

a, li, ul {
    list-style-type: none;
}

body {
    background-color: var(--latte);
    font-family: "montserrat", sans-serif;
    margin: 0;
}

main {
    padding: calc(8px + 1.5625vw);
}

p {
    line-height: 1.5rem;
}

*, *::before, *::after {
    box-sizing: border-box;
  }

/*Header styles*/
header{
    width: 100%;
    height: 70px;
}

/*Navigation header*/
header .navmenu {
    position: relative;
    padding: 0;
    font-style: italic;
    display: flex;
    align-items: center;
}

.nav-items{
    display: flex;
    justify-content: flex-end;
    align-items: center;
    padding-top: 0.5rem;
}

header .navmenu li{
    padding: 0 2rem;
}

.webshop-button{
    border-radius: 50px;
    background-color: var(--steelblue);
    font-family: inherit;
    font-size: inherit;
    height: 40px;
    width: 115px;
    border: none;
    color: white;
    margin: 0 2rem;
}

.logo{
    position: absolute;
    height: 40px;
    padding: 0.5rem 2rem 0 2rem;
}

/*Sub menu indstillinger*/
header .navmenu li .sub-menu {
    display: none;
    position: absolute;
    z-index: 999;
    top: 100%;
    left: 0;
    margin: 0;
    padding: 0;
    background: var(--silverlakeblue);
}

header .navmenu li .sub-menu a {
    display: block;
    padding: 10px;
}

header .navmenu > .menu-item-has-children:hover > .sub-menu{
    display: block;
}

/* Sub-sub menu indstillinger*/
header .navmenu .sub-menu li .sub-menu {
    top: 0;
    left: 100%
}

header .navmenu  .menu-item-has-children .sub-menu > .menu-item-has-children:hover .sub-menu {
       display: block; /*Gør at man kun kan se den man hover over i sub-sub menuen*/
}

/* Footer menu*/
footer{
    background-color: var(--steelblue);
    display: flex;
}

.footer-grid{
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(2, 1fr);
}

.footersection{
    color: var(--latte);
    padding: 1rem;
}

.footersection h3{
    font-style: italic;
    font-weight: 500;
}

.somefooter{
    text-align: center;
    color: var(--latte);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    font-style: italic;
    font-weight: 500;
}

.somefooter img{
    padding: 2rem;
}


.links{
    display: flex;
}

/* Front page start */
.post-frontpage h1 { /* Font på frontpage*/
    color: var(--orange);
    text-transform: uppercase;
}

.post-frontpage h2 { /* Font på frontpage*/
    color: var(--jet);
}

.post-frontpage h3 { /* Font på frontpage */
    color: var(--steelblue);
    font-style: italic;
    font-weight: 200;
}

.hero-video img{
    width: 100%;
}

.teams-link{ /*Position til tekst*/
    text-align: center;
    position: relative;
}

.teams-link:hover{
    opacity: 0.6;
}

.teams-link p { /*Style af txt på teams billeder*/
    position: absolute;
    top: 70%;
    left: 50%;
    transform: translate(-50%, -50%);

    font-weight: bold;
    color: #DD7230;
    font-style: italic;
    font-size: 24px;
    text-transform: uppercase;
    text-shadow: 1.5px 1.5px 4px var(--jet);
}

.teams-contain {
    display: grid;
    grid-gap: 10px;
    grid-template-columns: repeat(2, 1fr);
  }
  
  .teams-link {
    max-width: 100%;
    text-align: center;
    text-decoration: none;
  }
  
  .teams-img {
    max-height: 250px;
    width: 100%;
    object-fit: cover;
  }
  
  @media (min-width: 600px) {
    .teams-contain {
      grid-template-columns: repeat(3, 1fr);
    }
  }
  
  @media (min-width: 1024px) {
    .teams-contain {
      grid-template-columns: repeat(6, 1fr);
    }
  }

.home-post { /*Post display på frontpage*/
    display: grid;
    grid-gap: 40px;
    grid-template-columns: repeat(1, 1fr);
}

.home-post section {
    max-width: 600px;
    min-width: 200px;
    height: 100%;
}

.post-home p a {  /* Knap til links i home post*/
    border-radius: 50px;
    background-color: var(--orange);
    font-family: inherit;
    font-size: inherit;
    
    padding: 10px 18px;
   
    border: none;
    color: white;
}

@media only screen and (min-width: 900px) {
    main {
      margin: 2px 134px;
      padding: 0;
    }
    .home-post {
        grid-template-columns: repeat(2, 1fr);
      }
  }


/* Information page*/
.information-page {
    margin-top: 50px;
}
/*Accordion start*/

 .ea-header {
    background-color: var(--orange);
    border-radius: 5px;
 }
 
 #sp-ea-123.sp-easy-accordion>.sp-ea-single>.ea-header a, #sp-ea-123.sp-easy-accordion>.sp-ea-single>.ea-header a .ea-expand-icon.fa {
    color: #fff;
 }

 #sp-ea-123.sp-easy-accordion>.sp-ea-single>.sp-collapse>.ea-body {
    border-radius: 5px;
 }

 #sp-ea-123.sp-easy-accordion>.sp-ea-single {
    border-radius: 5px;
    border: none;
}

/*Accordion slut*/

