@import url();

/*Generelle styles*/
:root{
    --latte: #F8F4E3;
    --jet: #2A2B2A;
    --orange: #DD7230;
    --steelblue: #3E7CB1;
    --silverlakeblue: #6C91C2;
}

a {
    text-decoration: none;
}
a:visited {
    color: inherit;
}

li, ul {
    list-style-type: none;
}

body {
    background-color: var(--latte);
    font-family: "montserrat", sans-serif;
    margin: 0;
    padding: calc(8px + 1.5625vw);
}

*, *::before, *::after {
    box-sizing: border-box;
  }

/*Header styles*/
header{
    width: 100%;
    height: 70px;
}

/*Navigation header*/
header .navmenu {
    padding: 0;
    font-style: italic;
    display: flex;
    align-items: center;
}

.nav-items{
    display: flex;
    justify-content: flex-end;
    align-items: center;
    padding-top: 0.5rem;
}

header .navmenu li{
    padding: 0 2rem;
}

.webshop-button{
    border-radius: 50px;
    background-color: var(--steelblue);
    font-family: inherit;
    font-size: inherit;
    height: 40px;
    width: 115px;
    border: none;
    color: white;
    margin: 0 2rem;
}

.logo{
    position: absolute;
    height: 40px;
    padding: 0.5rem 2rem 0 2rem;
}

/*Sub menu indstillinger*/
header .navmenu li .sub-menu {
    display: none;
    position: absolute;
    top: 100%;
    left: 0;
    margin: 0;
    padding: 0;
    background: var(--silverlakeblue);
}

header .navmenu li .sub-menu a {
    display: block;
    padding: 10px;
}

header .navmenu > .menu-item-has-children:hover > .sub-menu{
    display: block;
}

/* Sub-sub menu indstillinger*/
header .navmenu .sub-menu li .sub-menu {
    top: 0;
    left: 100%
}

header .navmenu  .menu-item-has-children .sub-menu > .menu-item-has-children:hover .sub-menu {
       display: block; /*Gør at man kun kan se den man hover over i sub-sub menuen*/
}

/* Footer menu*/
footer{
    background-color: var(--steelblue);
}

/* Front page start */
.post-frontpage { 
    border: solid;
}

.post-frontpage h1 { /* Font på frontpage*/
    color: var(--orange);
    text-transform: uppercase;
}

.post-frontpage h2 { /* Font på frontpage*/
    color: var(--jet);
}

.post-frontpage h3 { /* Font på frontpage */
    color: var(--steelblue);
    font-style: italic;
    font-weight: 200;
}

.post-home a {  /* Knap til links i home post*/
    border-radius: 50px;
    background-color: var(--orange);
    font-family: inherit;
    font-size: inherit;
    padding: 10px 18px;
    border: none;
    color: white;
}

.teams-contain { /*Flex til billeder (teams post)*/
    display: flex;
    gap: 10px;
    flex-wrap: wrap;
    justify-content: center;
}

.teams-link{ /*Position til tekst*/
    text-align: center;
    position: relative;
}

.teams-link:hover{
    opacity: 0.6;
}

.teams-link p { /*Style af txt på teams billeder*/
    position: absolute;
    top: 70%;
    left: 50%;
    transform: translate(-50%, -50%);

    font-weight: bold;
    color: #DD7230;
    font-style: italic;
    font-size: 28px;
    text-transform: uppercase;
    text-shadow: 1.5px 1.5px 4px var(--jet);
  }

.teams-img{ /*Billeder på teams post*/
    min-width: 200px;
    max-width: 250px;
    height: 250px;
    object-fit: cover;
    flex: 1 1;
}

.home-post { /*Post display på frontpage*/
    display: flex;
    flex-direction: row-reverse;
}


/*Front page slut*/